// app global css in SCSS form
.bg-blue-light {
    background-color: $blue-light;
}

// MENU
#parent-menu {
    display: flex;
    justify-content: center;
    /* horizontally centers the child */
    align-items: center;
    /* vertically centers the child */
    width: 100%;
}

#menu-logo {
    height: 60px;
}

#menu {
    position: fixed;
    z-index: 1000; // or higher if needed
    transition: top 1s ease, width 1s ease, left 1s ease, transform 1s ease; // Smooth transition effects
    padding: 5px 0px;
    text-align: center;
    justify-content: center;
    font-weight: 600;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#menu ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    margin: 15px 5px;
}

#menu a.menu-item {
    text-decoration: none;
    color: $primary;
    padding: 0px 15px;
    display: block;
}

#menu a.menu-item:hover {
    transform: scale(1.1);
}

#menu a.active {
    // background-color: #333;
    color: $secondary;
    font-weight: bold;
}

#menu.menu-start {
    top: 3%;
    width: 600px;
    border-radius: 90px;
    margin: auto;

    @media (max-width: $breakpoint-md-min) {
        width: auto;
        max-width: 80%;
    }
}

.menu-start #menu-logo {
    display: none;
    transition: opacity 2s;
}

#menu.menu-end {
    top: 0;
    transform: none;
    width: 100%;
    border-radius: 0px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    /* Horizontal offset, vertical offset, blur radius, and color */
}

.menu-end #menu-logo {
    height: 50px;
    padding-bottom: 5px;
    padding-left: 10px;
}

.hero-cta {
    border-radius: 60px;
    padding: 10px 15px;
    font-weight: 600;
}

.hero-cta.cta-floating {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}

// TYPO

.subtitle {
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 2px;
    color: $secondary;
    margin: 0;

    @media (max-width: $breakpoint-md-min) {
        font-size: 14px;
    }
}

h1 {
    color: $primary;
    font-size: 64px;
    font-weight: 600;
    line-height: 110%;

    @media (max-width: $breakpoint-md-min) {
        font-size: 42px;
    }
}

h2 {
    font-size: 44px;
    color: $primary;
    font-weight: 500;
    font-style: normal;
    font-feature-settings: 'clig' off, 'liga' off;
    line-height: 110%;
    margin-top: 25px;

    @media (max-width: $breakpoint-md-min) {
        font-size: 30px;
    }
}

h3 {
    font-size: 35px;
    color: $primary;
    font-weight: 600;
    font-style: normal;
    font-feature-settings: 'clig' off, 'liga' off;
    line-height: 110%;

    @media (max-width: $breakpoint-md-min) {
        font-size: 24px;
    }
}

p {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: $secondary;

    @media (max-width: $breakpoint-md-min) {
        font-size: 16px;
    }
}

pre {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: $secondary;
    font-family: $typography-font-family;
    white-space: pre-wrap;

    @media (max-width: $breakpoint-md-min) {
        font-size: 16px;
    }
}

p.small {
    font-size: 16px;

    @media (max-width: $breakpoint-md-min) {
        font-size: 14px;
    }
}

.number {
    padding: 20px;

    @media (max-width: $breakpoint-md-min) {
        padding: 12px;
    }
}

.number--text {
    font-style: normal;
    font-weight: 300;
    line-height: 150%
}

.number--high {
    color: $primary;
    font-size: 90px;
    font-weight: 400;
    line-height: 110%;

    @media (max-width: $breakpoint-md-min) {
        font-size: 45px;
    }
}

.pre-wrap {
    white-space: pre-wrap;
}

// miscellaneous

.highlight {
    border-radius: 20px;
    padding: 20px;
}

.constat--row {
    @media (max-width: $breakpoint-md-min) {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    @media (max-width: $breakpoint-sm-min) {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

.constat--image {
    border-radius: 20px;
    width: 100%;
}

.constat--text {
    padding: 60px 80px;
    text-align: left;

    @media (max-width: $breakpoint-md-min) {
        padding: 20px 40px;
    }

    @media (max-width: $breakpoint-sm-min) {
        padding: 10px 20px;
    }
}

.constat--text h3 {
    margin-top: 15px;
}

.constat--text p {
    margin: 0px;
    line-height: 130%;
}

#concept {
    border-radius: 20px;
}

// CONTAINER

.container-large {
    margin-right: auto;
    margin-left: auto;
    max-width: $breakpoint-lg-min;

    @media (max-width: $breakpoint-lg-min) {
        max-width: 95%;
    }
}

.container-mobile {
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;

    @media (min-width: $breakpoint-sm-min) {
        max-width: 90%;
    }

    @media (min-width: $breakpoint-md-min) {
        max-width: 100%;
    }
}

.container {
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;

    @media (min-width: $breakpoint-sm-min) {
        max-width: 90%;
    }

    @media (min-width: $breakpoint-md-min) {
        max-width: 60%;
    }

    @media (min-width: $breakpoint-lg-min) {
        max-width: 55%;
    }

    @media (min-width: $breakpoint-xl-min) {
        max-width: 50%;
    }
}

// HERO

#hero {
    text-align: center;
    position: relative;
    background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.8)), url('/img/akualis-cover.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#hero p {
    color: $secondary;
}

#hero-logo {
    width: 350px;

    @media (max-width: $breakpoint-md-min) {
        width: 250px;
    }
}

// CONCEPT

.preview-carousel {
    margin: auto;
    max-width: 950px;
}

.preview-carousel .q-carousel {
    height: 750px;

    @media (max-width: $breakpoint-md-min) {
        height: 800px;
    }
}

.preview-carousel img {
    height: 580px;

    @media (max-width: $breakpoint-md-min) {
        height: 540px;
    }
}

.preview-carousel-info {
    position: absolute;
    height: 150px;
    width: 420px;
    text-align: left;
    background-color: $blue-light;
    border-radius: 20px;
    padding: 20px 30px;

    @media (max-width: $breakpoint-md-min) {
        height: 130px;
    }
}

.preview-carousel-info.left {
    top: 180px;
    left: 20px;
}

.preview-carousel-info.right {
    top: 420px;
    right: 20px;
}

.preview-carousel-info.top {
    position: relative;
    width: 350px;
    top: -20px;
}

.preview-carousel-info p {
    color: $primary;
}

.preview-carousel-info p.bold {
    color: primary;
    font-weight: bold;
    margin-bottom: 10px;
}

.preview-carousel-button {
    height: 50px;
    width: 6px;
    // height: 6px;
    // width: 50px;
    background-color: $secondary;
}

.preview-carousel-button.active {
    background-color: $primary;
}

.q-carousel__arrow .q-btn .q-icon {
    font-size: 50px;
    /* Adjust this to your desired size */
}

// .preview-carousel .carousel__slide {
//     margin-left: 35px;
// }

// TESTIMONIALS

#testimonials p {
    padding: 0px 25px;
}

#testimonials img {
    border-radius: 50%;
    width: 180px;
}

#inform {
    text-align: center;
    position: relative;
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.8)), url('/img/akualis-fountain.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
}

#testimonials .q-carousel {
    background-color: transparent;
    height: 500px;
}

// ACTION INFORM //
#inform .input-email {
    max-width: 80%;

    @media (max-width: $breakpoint-sm-max) {
        max-width: 100%;
    }

}

#inform .input-email input {
    margin-left: 10px;
}

// FOOTER

@media (max-width: $breakpoint-xs-max) {
    footer .float-left {
        float: none;
        margin: auto;
    }

    footer .float-right {
        float: none;
        margin: auto;
    }
}

// #hero::before {
//     content: '';
//     width: 100%;
//     height: 100%;
//     position: absolute;
//     top: 0;
//     left: 0;
//     background-image: url('/img/akualis-cover.png');
//     background-repeat: no-repeat;
//     background-size: cover;
//     z-index: -1;
//     opacity: 0.5;
// }