// app global css in SCSS form
.bg-blue-light {
    background-color: $blue-light;
}

// MENU
#parent-menu {
    display: flex;
    justify-content: center;
    /* horizontally centers the child */
    align-items: center;
    /* vertically centers the child */
    width: 100%;
}

#menu-logo {
    height: 60px;
}

.menu-start #menu-logo {
    display: none;
    transition: opacity 2s;
}

#menu {
    position: fixed;
    z-index: 1000; // or higher if needed
    transition: top 1s ease, width 1s ease, left 1s ease, transform 1s ease; // Smooth transition effects
    padding: 5px;
    text-align: center;
    justify-content: center;
    font-weight: 600;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#menu ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    margin: 15px 5px;
}

#menu a {
    text-decoration: none;
    color: $primary;
    padding: 0px 15px;
    display: block;
}

#menu a:hover {
    transform: scale(1.1);
}

#menu a.active {
    // background-color: #333;
    color: $secondary;
    font-weight: bold;
}

#menu.menu-start {
    top: 3%;
    width: 500px;
    border-radius: 90px;
    margin: auto;
}

#menu.menu-end {
    top: 0;
    transform: none;
    width: 100%;
    border-radius: 0px;
}

#hero-cta {
    border-radius: 60px;
    padding: 10px 15px;
    font-weight: 600;
}

// TYPO

.subtitle {
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 2px;
    color: $secondary;
    margin: 0;
}

h1 {
    color: $primary;
    font-size: 64px;
    font-weight: 600;
    line-height: 74px;
}

h2 {
    font-size: 44px;
    color: $primary;
    font-weight: 500;
    font-style: normal;
    font-feature-settings: 'clig' off, 'liga' off;
    line-height: 54px;
    margin-top: 25px;
}

h3 {
    font-size: 35px;
    color: $primary;
    font-weight: 600;
    font-style: normal;
    font-feature-settings: 'clig' off, 'liga' off;
    line-height: 110%;
}

p {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: $secondary;
}

.number {
    padding: 20px;
}

.number--text {
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%
}

.number--high {
    color: $primary;
    font-size: 90px;
    font-weight: 400;
    line-height: 110%;
}

// miscellaneous

.row.bg-white {
    border-radius: 20px;
    padding: 20px;
}


.constat--image {
    border-radius: 20px;
    width: 100%;
}

.constat--text {
    padding: 60px 80px;
    text-align: left;
}

.constat--text h3 {
    margin-top: 15px;
}

.constat--text p {
    font-size: 19px;
    margin: 0px;
    line-height: 130%;
}

#concept {
    border-radius: 20px;
}

// CONTAINER

.container-large {
    margin-right: auto;
    margin-left: auto;
    max-width: $breakpoint-lg-min;
}

.container-mobile {
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;

    @media (min-width: $breakpoint-sm-min) {
        max-width: 90%;
    }

    @media (min-width: $breakpoint-md-min) {
        max-width: 100%;
    }
}

.container {
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;

    @media (min-width: $breakpoint-sm-min) {
        max-width: 90%;
    }

    @media (min-width: $breakpoint-md-min) {
        max-width: 60%;
    }

    @media (min-width: $breakpoint-lg-min) {
        max-width: 55%;
    }

    @media (min-width: $breakpoint-xl-min) {
        max-width: 50%;
    }
}

// HERO

#hero {
    text-align: center;
    position: relative;
    background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.7)), url('/img/akualis-cover.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

// #hero::before {
//     content: '';
//     width: 100%;
//     height: 100%;
//     position: absolute;
//     top: 0;
//     left: 0;
//     background-image: url('/img/akualis-cover.png');
//     background-repeat: no-repeat;
//     background-size: cover;
//     z-index: -1;
//     opacity: 0.5;
// }

#hero p {
    color: $black;
    font-size: 20px;
}

#hero-logo {
    width: 350px;
}