// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

// Set the default font-family
$typography-font-family : 'Poppins',
sans-serif !default;

$primary : #1565C0;
$secondary : #646464;
$accent : #9600FF;

$blue : #1565C0;
$grey : #646464;
$purple : #9600FF;
$white: #FFFFFF;
$black: #000000;

$blue-light: #F1F5FB;
$green-light: #C8E6C9;

$dark : #1D1D1D;
$dark-page : #121212;

$positive : #21BA45;
$negative : #C10015;
$info : #31CCEC;
$warning : #F2C037;